@import url('variables.css');



.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: right; /* Keep text right-aligned for Hebrew */
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
}


/* Keep text aligned to the right for all other content */
.container p {
    text-align: right; /* Ensure the paragraph remains right-aligned */
}




/* Media Query for Tablets */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    iframe {
        height: 300px;
    }
    ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
    li {
        margin-bottom: 10px;
    }
    .video-gallery {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    .icon {
        width: 60px; /* Adjust icon size for tablets */
        height: 60px;
    }

}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }
    p {
        font-size: 0.95em;
    }
    iframe {
        height: 250px;
    }
    .video-gallery {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    .icon {
        width: 50px; /* Adjust icon size for mobile */
        height: 50px;
    }
    .section {
        display: flex;
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center links */
    }
    
    .lesson-link {
        margin-right: 0; /* Remove right margin */
        text-align: center; /* Center text in link */
        margin-bottom: 15px; /* Adjust space below links */
    }
}